<section class="elementor-section elementor-top-section elementor-element elementor-element-b657fb1 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b657fb1" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ed5bee5" data-id="ed5bee5" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-a29b063 elementor-widget elementor-widget-electman_about_left3" data-id="a29b063" data-element_type="widget" data-widget_type="electman_about_left3.default">
                            <div class="elementor-widget-container">
                                <section class=" about-section-three">
                                    <div class="lower-row">
                                        <div class="auto-container">
                                            <div class="row clearfix">
                                                <div class="text-column col-lg-12 col-md-12 col-sm-12 ">
                                                    <div class="inner">
                                                        <div class="sec-title fuel-theme wow fadeInRight" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                            <div class="upper-text">
                                                                <span class="logo_bolt2">
                                                                    <%= image_tag '/img/bolt.gif', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                                </span>
                                                                Điện Nước Trần Chí<span class="shadow_text">Giới Thiệu</span></div>
                                                            <h2>Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa</h2>
                                                        </div>
                                                        <div class="text-content wow fadeInRight" data-wow-delay="300ms"  data-wow-duration="2000ms">
                                                            <div class="text text-justify">
                                                                Tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt, bảo trì và sửa chữa điện nước; thay lắp, sửa chữa, thay lõi lọc máy lọc nước; dịch vụ điện lạnh; dịch vụ sửa chữa nhà ở tại khu vực TP. Biên Hòa thuộc tỉnh Đồng Nai.
                                                                Với đội ngũ thợ sửa chữa tay nghề cứng nhiều năm kinh nghiệm. Đảm bảo sẽ mang đến cho khách hàng những giá trị, chất lượng dịch vụ xứng đáng với chi phí mà quý khách bỏ ra.<br/>
                                                                Hiện tại, <strong>Điện Nước Trần Chí - Thợ Điện Nước Biên Hòa</strong> cung cấp những dịch vụ như: Dịch vụ điện nước, dịch vụ điện lạnh, dịch vụ máy lọc nước, dịch vụ sửa chữa nhà ở,...<br/>
                                                                Quý khách hàng có nhu cầu về <%= link_to 'dịch vụ sửa chữa điện nước tại nhà', '', title: 'dịch vụ sửa chữa điện nước tại nhà' %> uy tín, chuyên nghiệp. Hãy liên hệ ngay với chúng tôi qua <strong>HOTLINE <%= link_to '0344 319 990', 'tel:0344319990', title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %></strong> để được tư vấn và hỗ trợ nhanh nhất.<br/>
                                                                Cảm ơn quý khách đã quan tâm đến dịch vụ của chúng tôi!
                                                            </div>
                                                            <div class="signature">Trần Thiện Chí</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-175cd32e" data-id="175cd32e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-2d1a1f4e elementor-widget elementor-widget-electman_about_right3" data-id="2d1a1f4e" data-element_type="widget" data-widget_type="electman_about_right3.default">
                            <div class="elementor-widget-container">
                                <section class=" about-section-three">
                                    <div class="lower-row">
                                        <div class="auto-container">
                                            <div class="row clearfix">
                                                <div class="image-column col-lg-12 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                    <div class="inner">
                                                        <div class="image-box">
                                                            <figure class="image">
                                                                <%= image_tag '/img/gioi-thieu.png', alt: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe, title: 'Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Biên Hòa'.html_safe %>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>