<section class="elementor-section elementor-top-section elementor-element elementor-element-b657fb1 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b657fb1" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ed5bee5" data-id="ed5bee5" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-a29b063 elementor-widget elementor-widget-electman_about_left3" data-id="a29b063" data-element_type="widget" data-widget_type="electman_about_left3.default">
                            <div class="elementor-widget-container">
                                <section class=" about-section-three">
                                    <div class="lower-row">
                                        <div class="auto-container">
                                            <div class="row clearfix">
                                                <div class="text-column col-lg-12 col-md-12 col-sm-12 ">
                                                    <div class="inner">
                                                        <div class="sec-title fuel-theme wow fadeInRight" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                            <div class="upper-text">
                                                                <span class="logo_bolt2">
                                                                    <%= image_tag '/img/bolt-1.gif', alt: '', title: '' %>
                                                                </span>
                                                                Giới Thiệu Điện Nước Trần Chí<span class="shadow_text">Giới Thiệu</span></div>
                                                            <h2><span>#Điện Nước Trần Chí</span> Thợ Sửa Chữa Điện Nước, Máy Lọc Nước Tại Biên Hòa Đồng Nai</h2>
                                                        </div>
                                                        <div class="text-content wow fadeInRight" data-wow-delay="300ms"  data-wow-duration="2000ms">
                                                            <div class="text text-justify">Tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt sửa chữa điện nước tận nơi tại TP. Biên Hòa, Đồng Nai. Với đội ngũ thợ có tay nghề giỏi, kinh nghiệm lâu năm, đảm bảo về kỹ thuật, uy tín chất lượng. Chúng tôi cung cấp các dịch vụ bao gồm: Dịch vụ điện nước, Dịch vụ điện lạnh, Dịch vụ sửa chữa máy lọc nước, Thi công chống thấm, Sửa chữa nhà ở,...</div>
                                                            <div class="signature">Trần Thiện Chí</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-175cd32e" data-id="175cd32e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-2d1a1f4e elementor-widget elementor-widget-electman_about_right3" data-id="2d1a1f4e" data-element_type="widget" data-widget_type="electman_about_right3.default">
                            <div class="elementor-widget-container">
                                <section class=" about-section-three">
                                    <div class="lower-row">
                                        <div class="auto-container">
                                            <div class="row clearfix">
                                                <div class="image-column col-lg-12 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                    <div class="inner">
                                                        <div class="image-box">
                                                            <figure class="image">
                                                                <%= image_tag '/img/gioi-thieu-dien-nuoc-tran-chi.png', alt: '', title: '' %>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>