<section class="elementor-section elementor-top-section elementor-element elementor-element-73768cfa elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="73768cfa" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5be26671" data-id="5be26671" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-585320c2 elementor-widget elementor-widget-electman_service_icon2" data-id="585320c2" data-element_type="widget" data-widget_type="electman_service_icon2.default">
                            <div class="elementor-widget-container">
                                <!--About Section Three-->
                                <section class=" about-section-four">
                                    <div class="upper-row">
                                        <div class="auto-container">
                                            <div class="row clearfix">
                                                <!--Featured Block-->
                                                <div class="featured-block-five col-xl-4 col-lg-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                    <div class="inner-box">
                                                        <div class="icon-box"><span class=" flaticon-energy-1"></span></div>
                                                        <div class="title clearfix">
                                                            <h3>Short Circuit Repair and<br>Faulty &amp; Old Wiring</h3>
                                                            <div class="arrow">
                                                                <span class="fa fa-angle-right"></span>
                                                            </div>
                                                            <div class="icon-box22">
                                                                <span class="icon  flaticon-energy-1"></span>
                                                            </div>
                                                        </div>
                                                        <div class="overlay-box">
                                                            <div class="overlay-inner">
                                                                <div class="icon">
                                                                    <span class=" flaticon-energy-1"></span>
                                                                </div>
                                                                <h3><a href="http://z.commonsupport.com/electman/baseboard-heating/">Short Circuit Repair and<br>Faulty &amp; Old Wiring</a></h3>
                                                                <div class="text">Pellentesque porta acu velit faucibs kodales dolor rhoncus sed curabitur lacinia masysa vitae sed.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Featured Block-->
                                                <div class="featured-block-five col-xl-4 col-lg-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                    <div class="inner-box">
                                                        <div class="icon-box"><span class=" flaticon-hydro-power"></span></div>
                                                        <div class="title clearfix">
                                                            <h3>Short Circuit Repair and<br>Faulty &amp; Old Wiring</h3>
                                                            <div class="arrow">
                                                                <span class="fa fa-angle-right"></span>
                                                            </div>
                                                            <div class="icon-box22">
                                                                <span class="icon  flaticon-hydro-power"></span>
                                                            </div>
                                                        </div>
                                                        <div class="overlay-box">
                                                            <div class="overlay-inner">
                                                                <div class="icon">
                                                                    <span class=" flaticon-hydro-power"></span>
                                                                </div>
                                                                <h3><a href="http://z.commonsupport.com/electman/baseboard-heating/">Short Circuit Repair and<br>Faulty &amp; Old Wiring</a></h3>
                                                                <div class="text">Pellentesque porta acu velit faucibs kodales dolor rhoncus sed curabitur lacinia masysa vitae sed.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Featured Block-->
                                                <div class="featured-block-five col-xl-4 col-lg-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                    <div class="inner-box">
                                                        <div class="icon-box"><span class=" flaticon-pie-chart"></span></div>
                                                        <div class="title clearfix">
                                                            <h3>Short Circuit Repair and<br>Faulty &amp; Old Wiring</h3>
                                                            <div class="arrow">
                                                                <span class="fa fa-angle-right"></span>
                                                            </div>
                                                            <div class="icon-box22">
                                                                <span class="icon  flaticon-pie-chart"></span>
                                                            </div>
                                                        </div>
                                                        <div class="overlay-box">
                                                            <div class="overlay-inner">
                                                                <div class="icon">
                                                                    <span class=" flaticon-pie-chart"></span>
                                                                </div>
                                                                <h3><a href="http://z.commonsupport.com/electman/baseboard-heating/">Short Circuit Repair and<br>Faulty &amp; Old Wiring</a></h3>
                                                                <div class="text">Pellentesque porta acu velit faucibs kodales dolor rhoncus sed curabitur lacinia masysa vitae sed.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>