<section class="elementor-section elementor-top-section elementor-element elementor-element-2eaebcd8 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="2eaebcd8" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4fce835d" data-id="4fce835d" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-651f41ba elementor-widget elementor-widget-electman_theme_slider2" data-id="651f41ba" data-element_type="widget" data-widget_type="electman_theme_slider2.default">
                            <div class="elementor-widget-container">
                                <section class="banner-four banner-section banner-two">
                                    <div class="banner-carousel strnix-carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
                                        <div class="slide-item">
                                            <div class="image-layer" style="background-image:url('/img/sliders/dich-vu-dien-nuoc.png')"></div>
                                            <div class="auto-container">
                                                <div class="content-box">
                                                    <div class="content">
                                                        <div class="inner">
                                                            <div class="subtitle-2">
                                                                <span class="txt">Thợ Sửa Chữa Điện Nước</span> 
                                                                <div class="bottom-dots clearfix">
                                                                    <span class="dot line-dot"></span>
                                                                    <span class="dot"></span>
                                                                    <span class="dot"></span>
                                                                    <span class="dot"></span>
                                                                </div>
                                                            </div>
                                                            <h1>
                                                                <span class="slide_text">Dịch Vụ Điện Nước Tận Nhà</span><br/>
                                                                Tại Biên Hòa, Đồng Nai<br/>
                                                                <span class="color_text">Điện Nước Trần Chí</span> 
                                                            </h1>
                                                            <div class="text text-justify">Thợ sửa chữa điện nước của <span class="color_text">Điện Nước Trần Chí</span> chuyên nhận sửa chữa điện, sửa chữa nước tận nhà tại TP. Biên Hòa, Đồng Nai.</div>
                                                            <div class="links-box">
                                                                <a href="" class="theme-btn btn-style-four" title="">
                                                                    <div class="btn-title">
                                                                        <span class="btn-txt">Xem Chi Tiết</span>
                                                                        <span class="btn-icon"><span class="icon flaticon-arrows-11"></span></span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-item">
                                            <div class="image-layer" style="background-image:url('/img/sliders/dich-vu-sua-chua-may-loc-nuoc.png')"></div>
                                            <div class="auto-container">
                                                <div class="content-box">
                                                    <div class="content">
                                                        <div class="inner">
                                                            <div class="subtitle-2">
                                                                <span class="txt">Thợ Sửa Chữa Máy Lọc Nước</span> 
                                                                <div class="bottom-dots clearfix">
                                                                    <span class="dot line-dot"></span>
                                                                    <span class="dot"></span>
                                                                    <span class="dot"></span>
                                                                    <span class="dot"></span>
                                                                </div>
                                                            </div>
                                                            <h1>
                                                                <span class="slide_text">Sửa Chữa Máy Lọc Nước Tận Nhà</span><br/>
                                                                Tại Biên Hòa, Đồng Nai<br/>
                                                                <span class="color_text">Điện Nước Trần Chí</span> 
                                                            </h1>
                                                            <div class="text text-justify">Thợ sửa chữa máy lọc nước của <span class="color_text">Điện Nước Trần Chí</span> chuyên nhận sửa chữa, lắp đặt, bảo trì, thay lõi lọc định kỳ cho máy lọc nước, máy lọc nước nóng lạnh, máy lọc nước RO, lọc điện giải ion kiềm, lọc nước Nano, UF, MF tận nhà tại TP. Biên Hòa, Đồng Nai.</div>
                                                            <div class="links-box">
                                                                <a href="" class="theme-btn btn-style-four" title="">
                                                                    <div class="btn-title">
                                                                        <span class="btn-txt">Xem Chi Tiết</span>
                                                                        <span class="btn-icon"><span class="icon flaticon-arrows-11"></span></span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-item">
                                            <div class="image-layer" style="background-image:url('/img/sliders/dich-vu-dien-lanh.png')"></div>
                                            <div class="auto-container">
                                                <div class="content-box">
                                                    <div class="content">
                                                        <div class="inner">
                                                            <div class="subtitle-2">
                                                                <span class="txt">Thợ Sửa Chữa Điện Lạnh</span> 
                                                                <div class="bottom-dots clearfix">
                                                                    <span class="dot line-dot"></span>
                                                                    <span class="dot"></span>
                                                                    <span class="dot"></span>
                                                                    <span class="dot"></span>
                                                                </div>
                                                            </div>
                                                            <h1>
                                                                <span class="slide_text">Dịch Vụ Điện Lạnh Tận Nhà</span><br/>
                                                                Tại Biên Hòa, Đồng Nai<br/>
                                                                <span class="color_text">Điện Nước Trần Chí</span> 
                                                            </h1>
                                                            <div class="text text-justify">Thợ sửa chữa điện lạnh của <span class="color_text">Điện Nước Trần Chí</span> chuyên nhận sửa chữa, lắp đặt và bảo trì các thiết bị điện lạnh, vệ sinh máy giặt, bơm gas tủ lạnh, máy lạnh tận nhà tại TP. Biên Hòa, Đồng Nai.</div>
                                                            <div class="links-box">
                                                                <a href="" class="theme-btn btn-style-four" title="">
                                                                    <div class="btn-title">
                                                                        <span class="btn-txt">Xem Chi Tiết</span>
                                                                        <span class="btn-icon"><span class="icon flaticon-arrows-11"></span></span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>