.contact-section .info-block .inner {
    position: relative;
    display: block;
    padding: 45px 20px 40px;
    background:#192d66;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
}


.contact-section .info-block .icon {
    position: absolute;
    display: block;
    margin-bottom: 20px;
    left: 39%;
    /* font-size: 106px; */
    top: 40%;
}

.contact-section .info-block .icon .fa {
    color: #d1d1d152;
    font-size: 82px;
    /* margin-bottom: 12px; */
}
.contact-section .info-block strong {
    color: white;
    font-size: 23px;
    font-weight: 600;
}
.contact-section .info-block ul li {
    color: #fff;
}
.contact-section .info-block ul li a {
    color: #ffffff;
}