/*** 

====================================================================
		About Section
====================================================================

***/

.bkr003 .about-2 {
	position: relative;
	padding: 110px 0 90px;
}

.bkr003 .about-2 .sec-title {
	position: relative;
	margin-bottom: 30px;
}

.bkr003 .about-2 .sec-title .sec-title-icon {
	font-size: 48px;
	color: #f47629;
	margin-bottom: 22px;
	line-height: 50px;
}

.bkr003 .about-2 .sec-title h4 {
	position: relative;
	color: #adadad;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.bkr003 .about-2 .sec-title.light h4 {
	color: #adadad;
}

.bkr003 .about-2 .sec-title h1 {
	position: relative;
	font-size: 40px;
	line-height: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
}

.bkr003 .about-2 .sec-title h1 span {
    color: #f47629;
}

.bkr003 .about-2 .sec-title.light h1 {
	color: #fff;
}

.bkr003 .about-2 .sec-title .text {
	position: relative;
	margin-top: 20px;
}

.bkr003 .about-2 .image-wrap {
	position: relative;
}

.bkr003 .about-2 .image-wrap .link-btn {
	position: absolute;
	left: -160px;
	bottom: 50px;
	z-index: 9;
}

.bkr003 .about-2 .btn-style-two {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	background-color: #1c1f26;
	padding: 13px 30px;
	padding-left: 60px;
	font-weight: 600;
	overflow: hidden;
	text-transform: uppercase;
	font-family: var(--font-family-oswald);
}

.bkr003 .about-2 .btn-style-two:hover {
	color: #fff;
}

.bkr003 .about-2 .btn-style-two:after {
	position: absolute;
	content: '';
	background: #f47629;
	height: 1px;
	width: 20px;
	top: 24.5px;
	left: 30px;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
}

.bkr003 .about-2 .btn-style-two:hover:after {
	background: #fff;
}

.bkr003 .about-2 .btn-style-two:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background-color: #f47629;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
	-webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
	/* easeInOutQuint */
	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
	transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
	/* easeInOutQuint */
}

.bkr003 .about-2 .btn-style-two:hover:before {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
}

.bkr003 .about-2 .btn-style-two span {
	position: relative;
	z-index: 2;
}

.bkr003 .about-2 .btn-style-three {
	position: relative;
	padding: 25px 40px;
	padding-left: 115px;
	line-height: 24px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	border-radius: 2px;
	text-transform: uppercase;
}

.bkr003 .about-2 .btn-style-three .icon {
	margin-right: 3px;
}

.bkr003 .about-2 .btn-style-three:hover {
	color: #f47629;
}

.bkr003 .about-2 .btn-style-three:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 1) 3%, rgba(196, 152, 81, 1) 48%, rgba(195, 150, 78, 1) 49%);
    background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(255, 255, 255, 1)), color-stop(48%, #f47629), color-stop(49%, #f47629));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 3%, rgba(196, 152, 81, 1) 48%, rgba(195, 150, 78, 1) 49%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 3%, #f47629 48%, #f47629 49%);
}

.bkr003 .about-2 .btn-style-three:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	background: #ffffff;
}

.bkr003 .about-2 .btn-style-three:hover:before {
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}

.bkr003 .about-2 .btn-style-three:hover:after {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.bkr003 .about-2 .btn-style-three span {
	position: relative;
	display: block;
	z-index: 1;
}

.bkr003 .about-2 .btn-style-three .shape {
	position: absolute;
	left: 0;
	top: 37px;
	z-index: 9;
	height: 1px;
	width: 99px;
}

.bkr003 .about-2 .btn-style-three .shape:before {
	position: absolute;
	content: '';
	background: #f47629;
	height: 1px;
	width: 99px;
	left: 0;
	top: 0;
}

.bkr003 .about-2 .btn-style-three .shape:after {
	position: absolute;
	content: '';
	background: #f47629;
	height: 9px;
	width: 9px;
	right: 0;
	top: -4px;
	border-radius: 50%;
}




/*** 

====================================================================
			Gallery Section
====================================================================

***/

.bkr003 .gallery-1 {
	position:relative;
	padding:135px 0px 120px;
}

.bkr003 .gallery-1 .sec-title{
	margin-bottom: 20px;
}

.bkr003 .gallery-1 .sec-title h2{
	padding-bottom: 25px;
}

.bkr003 .gallery-1 .filters {
    margin-bottom: 0;
}

.bkr003 .gallery-1 .filters .filter-tabs {
    position: relative;
    float: left;
    width: 100%;
    max-width: 930px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0px 30px;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 50px;
}

.bkr003 .gallery-1 .filters .btn-box{
	position: relative;
	float: right;
	bottom: -35px;
}

.bkr003 .gallery-1 .filters .btn-box .theme-btn{
	padding: 15px 25px;
	font-weight: 700;
}

.bkr003 .gallery-1 .filters li{
	position: relative;
    display: inline-block;
    font-size: 14px;
    color: #777777;
	padding:20px 14px;
    cursor: pointer;
    font-weight: 400;
    margin:0 7px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.bkr003 .gallery-1 .filters li:before{
	position:absolute;
	content:'';
	left:50%;
	bottom:0px;
	height:1px;
	bottom:0px;
	background-color:#3d61cb;
	width: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.bkr003 .gallery-1 .filters .filter.active:before,
.bkr003 .gallery-1 .filters .filter:hover:before{
	width: 100%;
	left:0%;
}

.bkr003 .gallery-1 .filters .filter.active,
.bkr003 .gallery-1 .filters .filter:hover{
	color: #e75728;
}

.bkr003 .gallery-1 .row{
	margin: 0 -10px;
}

/*Project Block*/

.bkr003 .gallery-1 .project-block {
    padding: 0 10px;
    margin-bottom: 20px;
    margin-left: -1px;
}

.bkr003 .gallery-1 .project-block.mix{
	display:none;
}

.bkr003 .gallery-1 .project-block{
	position:relative;
	margin-bottom:30px;
}

.bkr003 .gallery-1 .project-block .inner-box{
	position:relative;
}

.bkr003 .gallery-1 .project-block .inner-box .image{
	position:relative;
	display:block;
	overflow:hidden;
}

.bkr003 .gallery-1 .project-block .inner-box .image img{
	position:relative;
	width:100%;
	display:block;
}
.bkr003 .gallery-1 .project-block .inner-box .image .overlay-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    padding: 50px 30px;
    background-color: #e75728d9;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transform: scale(1.5);
}

.bkr003 .gallery-1 .project-block .inner-box:hover .image .overlay-box{
	opacity: 1;
    transform:scale(1);
}

.bkr003 .gallery-1 .project-block .inner-box .image .overlay-box a{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
	margin-left: -50px;
	margin-top: -50px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
    z-index: 9;
}

.bkr003 .gallery-1 .project-block .inner-box .image .overlay-box .icon{
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/icons/plus-icon.png);
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.bkr003 .gallery-1 .project-block .inner-box:hover .overlay-box a{
	opacity: 1;
	visibility: visible;
	transition-delay: 200ms;
}

.bkr003 .gallery-1.alternate{
	padding: 150px 0 130px;
}

.bkr003 .gallery-1.alternate .filters .filter-tabs{
	max-width: 100%;
	text-align: center;
}

.bkr003 .gallery-1 .btn-style-one{
	position:relative;
	font-size:13px;
	line-height:21px;
	color:#333333;
	padding:14px 35px;
	background:#e75728;
	font-weight:600;
	border: 2px solid #e75728;
	text-transform: uppercase;
}

.bkr003 .gallery-1 .btn-style-one:hover{
	background:#333333;
	color:#e75728;
	border: 2px solid #333333;
}

.bkr003 .gallery-1 .sec-title{
	position:relative;
	margin-bottom:50px;
}

.bkr003 .gallery-1 .sec-title h2{
	display: block;
	font-size:40px;
	line-height: 1.2em;
	color: #333333;
	font-weight: 300;
	padding-bottom: 15px; 
}

.bkr003 .gallery-1 .sec-title h2 span{
	font-weight: 800;
	color: #333333;
}

.bkr003 .gallery-1 .sec-title .text{
	position: relative;
	font-size: 14px;
	line-height: 25px;
	color: #777777;
	font-weight: 400;
}

.bkr003 .gallery-1 .sec-title h2:before{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 120px;
	height: 7px;
	content: "";
	background-image: url(../images/icons/devider.png);
}

.bkr003 .gallery-1 .sec-title.blue-devider h2:before{
	background-image: url(../images/icons/devider-blue.png);
}

.bkr003 .gallery-1 .sec-title.pink-devider h2:before{
	background-image: url(../images/icons/devider-pink.png);
}

.bkr003 .gallery-1 .sec-title.text-center h2:before{
	right: 0;
	margin: 0 auto;
}

.bkr003 .gallery-1 .sec-title.light .text,
.bkr003 .gallery-1 .sec-title.light h2 span,
.bkr003 .gallery-1 .sec-title.light h2{
	color: #ffffff;
}



/*** 

====================================================================
			Gallery Section
====================================================================

***/

.bkr003 .gallery-2 {
	position:relative;
	padding:20px 0px;
}

.bkr003 .gallery-2 .row{
	margin:0px -1px;
}

.bkr003 .gallery-2 .gallery-block{
	padding:0px 1px;
	margin-bottom:2px;
}

.bkr003 .gallery-2 .btn-box{
	margin-top:58px;
}

.bkr003 .gallery-2 .gallery-block .image-box{
	position: relative;
	text-align: center;
}

.bkr003 .gallery-2 .gallery-block .image-box img{
	display: block;
	width: 100%;
	height: auto;
}

.bkr003 .gallery-2 .gallery-block .caption-box{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: left;
}

.bkr003 .gallery-2 .gallery-block:hover .caption-box{
  	-webkit-animation: jump 900ms ease 0s normal ;
 	animation: jump 900ms ease 0s normal ;	
}

.bkr003 .gallery-2 .gallery-block .caption-box .content{
	position: relative;
	left: 0;
	width: 100%;
	padding: 20px 20px;
	background-color: #ffffff;
	text-align: center;
	z-index: 9;
	-webkit-transform: translateY(110%);
	-moz-transform: translateY(110%);
	-ms-transform: translateY(110%);
	-o-transform: translateY(110%);
	transform: translateY(110%);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.bkr003 .gallery-2 .gallery-block:hover .caption-box .content{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}	

.bkr003 .gallery-2 .gallery-block .caption-box .content h3{
	position: relative;
	display: block;
	font-size: 20px;
	line-height: 1.2em;
	color: #333333;
	font-weight: 700;
}

.bkr003 .gallery-2 .gallery-block .caption-box .content h3 a{
	color: #333333;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.bkr003 .gallery-2 .gallery-block .caption-box .content h3 a:hover{
	color: #e75728;
}

.bkr003 .gallery-2 .gallery-block .caption-box .content span{
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 2em;
	color: #a7a7a7;
	font-weight: 400;
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  50%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  50%{
	transform: translateY(-30px);
  }
  100%{
	transform: translateY(0);
  }
}

.bkr003 .gallery-2 .btn-style-four{
	position:relative;
	font-size:16px;
	line-height:22px;
	color:#ffffff;
	padding:15px 45px;
	background:#e75728;
	font-weight:700;
}

.bkr003 .gallery-2 .btn-style-four:hover{
	background:#333333;
	color:#ffffff;
}


/*
------------------------------------------------
  Gallery Section 
------------------------------------------------
*/

.bkr003 .gallery-4 {
	padding: 145px 0px 100px;
}

.bkr003 .gallery-4 .sec-title-two{
	margin-bottom: 110px;
}

.bkr003 .gallery-4 .gallery-container{
    padding: 0px;
    margin: 0px -10px;
}

.bkr003 .gallery-4 .gallery-column{
	margin-bottom: 50px;
}

.bkr003 .gallery-4 .image-box {
    position: relative;
    /* margin: 0px 10px; */
    overflow: hidden;
}

.bkr003 .gallery-4 .image-box img{
	width: 100%;
	transform: scale(1);
	transition:all 500ms ease;
}

.bkr003 .gallery-4 .image-box:hover img{
	transform: scale(1.1);
	transition:all 500ms ease;
}

.bkr003 .gallery-4 .image-box figure{
    margin-bottom: 0px;
}

.bkr003 .gallery-4 .overlay-box{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	content: '';
	vertical-align:  middle;
	align-items:  center;
	display:  inline-flex;
	justify-content:  center;
	background: rgba(33, 40, 43, 0.84);
	transform: scale(0,0);
	-webkit-transform:scale(0,0);
	-moz-transform:scale(0,0);
	-ms-transform:scale(0,0);
	-o-transform:scale(0,0);
	transition:all 700ms ease;
}

.bkr003 .gallery-4 .image-box:hover .overlay-box{
    transform: scale(1,1);
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transition:all 700ms ease;
}

.bkr003 .gallery-4 .gallery-bottom {
	position: relative;
	padding: 100px 0px;
	background: #21282b;
}

.bkr003 .gallery-4 .gallery-bottom .gb-text h2{
	float: left;
	font-size: 40px;
	color: #ffffff;
	font-weight: 700;
	line-height: 60px;
	text-transform: capitalize;
}

.bkr003 .gallery-4 .gallery-bottom .link-btn{
	float: right;
}



/*** 

====================================================================
		Gallery Section
====================================================================

***/

.bkr003 .gallery-7 {
	position: relative;
	padding: 120px 0 110px;
}

.bkr003 .gallery-7 .outer-container{
	position: relative;
	max-width: 1620px;
	padding: 0 15px;
	margin: 0 auto;
}

.bkr003 .gallery-7 .gallery-item{
	position: relative;
	margin-bottom: 10px;
}

.bkr003 .gallery-7 .gallery-item .image-box{
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}

.bkr003 .gallery-7 .gallery-item .image-box .image{
	position: relative;
}

.bkr003 .gallery-7 .gallery-item .image-box .image img{
	display: block;
	width: 100%;
	height: auto;
}

.bkr003 .gallery-7 .gallery-item .overlay-box{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #e75728c7;
	content: "";
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
}

.bkr003 .gallery-7 .gallery-item .image-box:hover .overlay-box{
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

.bkr003 .gallery-7 .gallery-item .overlay-box a{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -29px;
	margin-left: -20px;
}

.bkr003 .gallery-7 .gallery-item .overlay-box a span {
    display: block;
    height: 58px;
    width: 58px;
    background-color: #fff;
    color: #f47629;
    border-radius: 50%;
    font-weight: 400;
    line-height: 58px;
}

.bkr003 .gallery-7 .owl-nav{
	display: none;
}

.bkr003 .gallery-7 {
	position: relative;
	padding: 45px 0 10px;
}

.bkr003 .gallery-7 .row{
	margin: 0 -5px;
}

.bkr003 .gallery-7 .gallery-item{
	padding: 0 5px;
	margin-bottom: 10px;
}



/*** 

====================================================================
	pricing-7
====================================================================

***/

.bkr003 .pricing-7 {
    position: relative;
    padding: 200px 0px 40px 0px;
    z-index: 5;
}

.bkr003 .pricing-7 .sec-title-two {
	position: relative;
	margin-bottom: 55px;
}

.bkr003 .pricing-7 .sec-title-two.centered {
	text-align: center;
}

.bkr003 .pricing-7 .sec-title-two:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 12px;
	height: 5px;
	width: 53px;
	background: url(../images/background/sec-title-bg.png);
}

.bkr003 .pricing-7 .sec-title-two.centered:before {
	display: none;
}

.bkr003 .pricing-7 .sec-title-two.light:before {
	background: #fff;
}

.bkr003 .pricing-7 .sec-title-two .title {
	position: relative;
	color: #8a8d91;
	font-size: 17px;
	margin-bottom: 25px;
	text-transform: capitalize;
	padding-left: 76px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.bkr003 .pricing-7 .sec-title-two.centered .title {
	padding-left: 0px;
}

.bkr003 .pricing-7 .sec-title-two h2 {
    position: relative;
    font-size: 40px;
    color: #132c47;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -1px;
    display: inline-block;
}

.bkr003 .pricing-7 .sec-title-two h2 a {
	color: #aaaaaa;
}

.bkr003 .pricing-7 .sec-title-two.light .title,
.bkr003 .pricing-7 .sec-title-two.light h2 {
	color: #fff;
}

.bkr003 .pricing-7:before {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    content: "";
    /* background-image: url(../images/background/4.jpg); */
    background-position: left center;
    background-repeat: no-repeat;
}

.bkr003 .pricing-7 .content-column{
	position:relative;
	margin-bottom:30px;
}

.bkr003 .pricing-7 .content-column .sec-title{
	margin-bottom:50px;
}

.bkr003 .pricing-7 .content-column .sec-title .subtitle{
	margin-bottom:10px;
}

.bkr003 .pricing-7 .content-column .sec-title h2{
	font-size:36px;
	line-height:1.5em;
}

.bkr003 .pricing-7 .content-column .inner{
	position:relative;
	padding-right:70px;
}

.bkr003 .pricing-7 .content-column .text{
	line-height:1.8em;
	font-size:15px;
	color:#00000a;
	margin-bottom:40px;
}

.bkr003 .pricing-7 .pricing-tabs .tab-btns{
	position:relative;
	display:inline-block;
	border-radius:26px;
	overflow:hidden;
	box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
}

.bkr003 .pricing-7 .pricing-tabs .tab-btns .tab-btn{
	position:relative;
	float:left;
	font-size: 14px;
	color: #222;
	min-width:140px;
	font-weight: 600;
	text-transform: uppercase;
	line-height:30px;
	padding: 16px 40px;
	cursor:pointer;
}

.bkr003 .pricing-7 .pricing-tabs .tab-btns .tab-btn:first-child{
	border-radius: 31px 0px 0px 31px;
}

.bkr003 .pricing-7 .pricing-tabs .tab-btns .tab-btn:last-child{
	border-left:none;
	border-radius: 0px 31px 31px 0px;
}

.bkr003 .pricing-7 .pricing-tabs .tab-btns .active-btn{
	background: #132c47;
	color:#ffffff;
}

.bkr003 .pricing-7 .image-column{
	position:relative;
	margin-bottom:30px;	
}

.bkr003 .pricing-7 .image-column .inner{
	position:relative;
	margin-top:-80px;
}

.bkr003 .pricing-7 .image-column .out-box{
	position:absolute;
	top:0px;
	left:0px;
	width:1200px;
	height:650px;
}

.bkr003 .pricing-7 .image-column .out-box .image-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
}

.bkr003 .pricing-7 .pricing-tabs .pr-content{
	position:relative;
}

.bkr003 .pricing-7 .price-column{
	position:relative;
	width:370px;
}


.bkr003 .pricing-7 .pr-content .pr-tab{
	position:absolute;
	left: -181px;
	top:0px;
	z-index:1;
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	-webkit-transform:scale(0.8,0.8) translateX(180px);
	-ms-transform:scale(0.8,0.8) translateX(180px);
	-o-transform:scale(0.8,0.8) translateX(180px);
	-moz-transform:scale(0.8,0.8) translateX(180px);
	transform:scale(0.8,0.8) translateX(180px);
}

.bkr003 .pricing-7 .pr-content .pr-tab.active-tab{
	position:relative;
	z-index:5;
	left: 130px;
	-webkit-transform:scale(1) translateX(0);
	-ms-transform:scale(1) translateX(0);
	-o-transform:scale(1) translateX(0);
	-moz-transform:scale(1) translateX(0);
	transform:scale(1) translateX(0);
}

.bkr003 .pricing-7 .price-column .col-inner{
	position:relative;
	padding:80px 30px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
	box-shadow: 0px 27px 73px 0px rgba(9, 24, 33, 0.26);
}

.bkr003 .pricing-7 .price-column .plan-title{
	position:relative;
	font-size: 22px;
	font-weight: 500;
	color: #8b8e93;
	text-transform: capitalize;
	letter-spacing:1px;
	line-height:1.8em;
}

.bkr003 .pricing-7 .price-column .duration{
	position:relative;
	font-size:18px;
	font-weight:400;
	color:#b1b1b1;
	text-transform:capitalize;
	line-height:1.8em;
}

.bkr003 .pricing-7 .price-column .price{
	position:relative;
	font-size:48px;
	font-weight:700;
	letter-spacing:2px;
	color:#00000a;
	text-transform:uppercase;
	line-height: 1.5em;
	padding: 0px 0px 20px;
}

.bkr003 .pricing-7 .price-column .price sup{
	top:-10px;	
}

.bkr003 .pricing-7 .price-column .specs-list{
	position:relative;
	padding-bottom:20px;
}

.bkr003 .pricing-7 .price-column .specs-list li{
	position:relative;
	line-height:24px;
	font-size:15px;
	font-weight:500;
	margin-bottom:12px;
}

.bkr003 .pricing-7 .btn-style-two {
    position: relative;
    padding: 16px 40px;
    border-radius: 30px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    background: #e75728;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #e75728;
}
.bkr003 .pricing-7 .btn-style-two:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}
.bkr003 .pricing-7 .sec-title-two {
    text-align: unset;
}


/*** 

====================================================================
	pricing-8
====================================================================

***/

.bkr003 .pricing-8 {
	position:relative;
	padding: 150px 0px 50px;
	z-index:5;
}

.bkr003 .pricing-8 .sec-title-two {
	position: relative;
	margin-bottom: 55px;
}

.bkr003 .pricing-8 .sec-title-two.centered {
	text-align: center;
}

.bkr003 .pricing-8 .sec-title-two:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 12px;
	height: 5px;
	width: 53px;
	background: url(../images/background/sec-title-bg.png);
}

.bkr003 .pricing-8 .sec-title-two.centered:before {
	display: none;
}

.bkr003 .pricing-8 .sec-title-two.light:before {
	background: #fff;
}

.bkr003 .pricing-8 .sec-title-two .title {
	position: relative;
	color: #8a8d91;
	font-size: 17px;
	margin-bottom: 25px;
	text-transform: capitalize;
	padding-left: 76px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.bkr003 .pricing-8 .sec-title-two.centered .title {
	padding-left: 0px;
}

.bkr003 .pricing-8 .sec-title-two h2 {
    position: relative;
    font-size: 40px;
    color: #132c47;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -1px;
    display: inline-block;
}

.bkr003 .pricing-8 .sec-title-two h2 a {
	color: #aaaaaa;
}

.bkr003 .pricing-8 .sec-title-two.light .title,
.bkr003 .pricing-8 .sec-title-two.light h2 {
	color: #fff;
}

.bkr003 .pricing-8 .content-column{
	position:relative;
	margin-bottom:30px;	
}

.bkr003 .pricing-8 .content-column .sec-title{
	margin-bottom:50px;
}

.bkr003 .pricing-8 .content-column .sec-title .subtitle{
	margin-bottom:10px;
}

.bkr003 .pricing-8 .content-column .sec-title h2{
	font-size:36px;
	line-height:1.5em;	
}

.bkr003 .pricing-8 .content-column .inner {
    position: relative;
    padding-right: 0;
}

.bkr003 .pricing-8 .content-column .text{
	line-height:1.8em;
	font-size:15px;
	color:#00000a;
	margin-bottom:40px;
}

.bkr003 .pricing-8 .pricing-tabs-two .tab-btns{
	position:relative;
	display:inline-block;
	border-radius:26px;
	overflow:hidden;
	box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
}

.bkr003 .pricing-8 .pricing-tabs-two .tab-btns .tab-btn{
	position:relative;
	float:left;
	font-size: 14px;
	color: #222;
	min-width:140px;
	font-weight: 600;
	text-transform: uppercase;
	line-height:30px;
	padding: 16px 40px;
	cursor:pointer;
}

.bkr003 .pricing-8 .pricing-tabs-two .tab-btns .tab-btn:first-child{
	border-radius: 31px 0px 0px 31px;
}

.bkr003 .pricing-8 .pricing-tabs-two .tab-btns .tab-btn:last-child{
	border-left:none;
	border-radius: 0px 31px 31px 0px;
}

.bkr003 .pricing-8 .pricing-tabs-two .tab-btns .active-btn{
	background: #132c47;
	color:#ffffff;
}

.bkr003 .pricing-8 .pricing-section-two .image-column{
	position:relative;
	margin-bottom:30px;	
}

.bkr003 .pricing-8 .pricing-section-two .image-column .inner{
	position:relative;
	margin-top:-30px;
}

.bkr003 .pricing-8 .image-column .out-box{
	position:absolute;
	top:0px;
	left:0px;
	width:1200px;
	height:650px;
}

.bkr003 .pricing-8 .image-column .out-box .image-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
}

.bkr003 .pricing-8 .pricing-tabs-two .pr-content{
	position:relative;
}

.bkr003 .pricing-8 .price-column{
	position:relative;
}


.bkr003 .pricing-8 .pr-content .pr-tab{
	position:absolute;
	top:0px;
	display: none;
	z-index:1;
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transform:scale(0.9,0.9) translateY(0px);
}

.bkr003 .pricing-8 .pr-content .pr-tab.active-tab{
	position: relative;
	z-index:5;
	display: block;
	transform:scale(1) translateY(0px);
}

.bkr003 .pricing-8 .price-column .col-inner{
	position:relative;
	padding:80px 30px;
	text-align:center;
	background:#ffffff;
	border-radius:2px;
	box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
	transition: .5s ease;
}

.bkr003 .pricing-8 .price-column .col-inner:hover {
	transform: scale(1.02);
}

.bkr003 .pricing-8 .price-column .plan-title{
	position:relative;
	font-size: 22px;
	font-weight: 500;
	color: #8b8e93;
	text-transform: capitalize;
	letter-spacing:1px;
	line-height:1.8em;
}

.bkr003 .pricing-8 .price-column .duration{
	position:relative;
	font-size:18px;
	font-weight:400;
	color:#b1b1b1;
	text-transform:capitalize;
	line-height:1.8em;
}

.bkr003 .pricing-8 .price-column .price{
	position:relative;
	font-size:48px;
	font-weight:700;
	letter-spacing:2px;
	color:#00000a;
	text-transform:uppercase;
	line-height: 1.5em;
	padding: 0px 0px 20px;
}

.bkr003 .pricing-8 .price-column .price sup{
	top:-10px;	
}

.bkr003 .pricing-8 .price-column .specs-list{
	position:relative;
	padding-bottom:20px;
}

.bkr003 .pricing-8 .price-column .specs-list li{
	position:relative;
	line-height:24px;
	font-size:15px;
	font-weight:500;
	margin-bottom:12px;
}

.bkr003 .pricing-8 .btn-style-two {
    position: relative;
    padding: 16px 40px;
    border-radius: 30px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    background: #f47629;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #f47629;
}
.bkr003 .pricing-8 .btn-style-two:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}
.bkr003 .pricing-8 .sec-title-two {
    text-align: unset;
}


/*** 

====================================================================
	pricing-10
====================================================================

***/

.bkr003 .pricing-10 {
	position: relative;
    background: #f6f8f9;
	padding: 150px 0;
}

.bkr003 .pricing-10 .sec-title {
  margin-bottom: 50px;
}

.bkr003 .pricing-10 .sec-title h2 {
  margin: 0;
  font-size: 50px;
  color: #333333;
  font-weight: bold;
  line-height: 50px;
}

.bkr003 .pricing-10 .sec-title .decor-line {
  width: 53px;
  height: 10px;
  display: inline-block;
  margin-top: 15px;
  background: url(../images/background/decor-line.png) 0 0 no-repeat;
}

.bkr003 .pricing-10 .single-pricing {
  text-align: center;
  background: #fff;
}

.bkr003 .pricing-10 .single-pricing ul, .single-pricing li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bkr003 .pricing-10 .single-pricing.standard .top-box {
  background: #173869;
}
.bkr003 .pricing-10 .single-pricing .top-box {
  background: #e75728;
}

.bkr003 .pricing-10 .single-pricing .top-box h3 {
  margin: 0;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  line-height: 60px;
}

.bkr003 .pricing-10 .single-pricing .price-box {
  padding: 55px 0;
  margin-top: 40px;
}

.bkr003 .pricing-10 .single-pricing .price-box h3, .single-pricing .price-box p {
  margin: 0;
}

.bkr003 .pricing-10 .single-pricing .price-box .inner {
  display: inline-block;
  position: relative;
}

.bkr003 .pricing-10 .single-pricing .price-box .inner span.down {
  position: absolute;
  top: 7px;
  left: -25px;
  font-size: 180px;
  color: #f7f7f7;
  font-weight: bold;
  letter-spacing: -.06em;
}

.bkr003 .pricing-10 .single-pricing .price-box .inner .upper {
  position: relative;
  z-index: 9;
}

.bkr003 .pricing-10 .single-pricing .price-box .inner .upper h3 {
  font-size: 90px;
  color: #333333;
  font-family: 'Alegreya Sans';
  font-weight: bold;
  line-height: 35px;
}

.bkr003 .pricing-10 .single-pricing .price-box .inner .upper h3 span {
  font-size: 40px;
}

.bkr003 .pricing-10 .single-pricing .price-box .inner .upper p {
  font-size: 15px;
  margin-top: 5px;
}

.bkr003 .pricing-10 .single-pricing .list-box {
  padding-top: 40px;
  padding-bottom: 35px;
  border-top: 1px solid #f4f4f4;
}

.bkr003 .pricing-10 .single-pricing .list-box ul li + li {
  margin-top: 15px;
}

.bkr003 .pricing-10 .single-pricing .list-box .fa {
  margin-right: 6px;
}

.bkr003 .pricing-10 .single-pricing .list-box i.fa-check {
  color: #00cc3a;
  font-size: 13px;
}

.bkr003 .pricing-10 .single-pricing .list-box i.fa-times {
  color: #f20e24;
  font-size: 13px;
}

.bkr003 .pricing-10 .single-pricing .button-box {
  padding-bottom: 40px;
}

.bkr003 .pricing-10 .single-pricing .button-box a {
  width: 165px;
  height: 50px;
  border: 1px solid #e75728;
  line-height: 48px;
  color: #e75728;
  background: #e75728;
  text-transform: uppercase;
  background-color: transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.bkr003 .pricing-10 .single-pricing .button-box a:hover {
  background: #e75728;
  color: #fff;
}