<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form action="" method="get" >
                <div class="form-group">
                    <fieldset>
                        <input type="search"  name="" value="" class="form-control"  placeholder="Nhập từ khóa cần tìm..." />
                        <input type="submit" value="TÌM KIẾM" class="theme-btn">
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>