<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/bg-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1>Giới Thiệu</h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                    </li>
                    <li class="breadcrumb-item">Giới Thiệu</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="649" class="elementor elementor-649" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-437faf1 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="437faf1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-3051b80" data-id="3051b80" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2ca0c8b grayimg elementor-widget elementor-widget-image" data-id="2ca0c8b" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img width="320" height="296" src="/img/bong-den-dien.png" class="attachment-large size-large" alt="" loading="lazy" srcset="/img/bong-den-dien.png 320w, /img/bong-den-dien-300x278.png 300w" sizes="(max-width: 320px) 100vw, 320px" />											
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a4c5b97" data-id="a4c5b97" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-ab50164 elementor-widget elementor-widget-electman_about_right" data-id="ab50164" data-element_type="widget" data-widget_type="electman_about_right.default">
                                        <div class="elementor-widget-container">
                                            <section class=" about-section-one">
                                                <div class="auto-container">
                                                    <div class="row clearfix">
                                                        <div class="text-column col-lg-12 col-md-12 col-sm-12">
                                                            <div class="inner">
                                                                <div class="sec-title wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="1000ms">
                                                                    <div class="upper-text">
                                                                        <span class="logo_bolt2">
                                                                            <%= image_tag '/img/bolt-1.gif', alt: '', title: '' %>
                                                                        </span>Giới Thiệu
                                                                        <span class="shadow_text">Giới Thiệu</span>
                                                                    </div>
                                                                    <h2>Điện Nước Trần Chí</h2>
                                                                    <div class="subtitle">Thợ Sửa Chữa Điện Nước, Máy Lọc Nước</div>
                                                                </div>
                                                                <div class="text-content wow fadeInLeft text-justify" data-wow-delay="0ms"  data-wow-duration="1000ms">
                                                                    <p>
                                                                        Điện Nước Trần Chí kính chào quý khách!<br/>
                                                                        Tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt sửa chữa điện nước tận nơi tại TP. Biên Hòa, Đồng Nai. Với đội ngũ thợ có tay nghề giỏi, kinh nghiệm lâu năm, đảm bảo về kỹ thuật, uy tín chất lượng. Chúng tôi cung cấp các dịch vụ bao gồm:
                                                                    </p>
                                                                    <div class="features_list">
                                                                        <p><strong>DỊCH VỤ ĐIỆN NƯỚC</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Điện dân dụng: </b>Sửa chữa, lắp đặt điện dân dụng tại nhà. Thi công điện nước, lắp đồng hồ điện. Sửa chữa điện 3 pha tại nhà. Sửa chữa tủ điện máy công nghiệp 3 pha. Xử lý sự cố chập điện.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Lắp đặt quạt trần: </b>Sửa chữa quạt trần tại nhà. Lắp quạt trần lên trần thạch cao. Sửa quạt điện tại nhà. Lắp quạt thông gió, quạt hút.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Lắp đặt đường nước, thiết bị: </b>Sửa chữa, thi công đường ống nước tại nhà. Thông cống nghẹt, ống thoát nước sàn. Bảo trì, vệ sinh bồn nước. Vệ sinh bồn nước nóng năng lượng mặt trời.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Máy bơm nước: </b>Sửa chữa, lắp đặt máy bơm nước tại nhà. Lắp bơm tăng áp.</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="features_list">
                                                                        <p><strong>DỊCH VỤ ĐIỆN LẠNH</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Điện lạnh: </b>Sửa chữa, bảo trì điện lạnh tại nhà.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Máy lọc nước: </b>Sửa chữa, lắp đặt, bảo trì, thay lõi lọc máy lọc nước tại nhà.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Máy lạnh: </b>Sửa chữa, lắp đặt, di dời, bảo trì, vệ sinh máy lạnh tại nhà.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Tủ lạnh: </b>Sửa chữa, bơm nạp gas tủ lạnh tại nhà.</li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Máy giặt: </b>Sửa chữa, vệ sinh máy giặt tại nhà.</li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="features_list">
                                                                        <p><strong>DỊCH VỤ SỬA NHÀ</strong></p>
                                                                        <ul class="ftext">
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Thợ thạch cao</b></li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Thợ sơn nước</b></li>
                                                                            <li><span class="gap-icon icon-Wrench"></span><b>Thợ chống thấm</b></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-d150fbb three" data-id="d150fbb" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-213f4cb elementor-hidden-tablet elementor-widget elementor-widget-electman_about_left" data-id="213f4cb" data-element_type="widget" data-widget_type="electman_about_left.default">
                                        <div class="elementor-widget-container">
                                            <section class=" about-section-one">
                                                <div class="auto-container">
                                                    <div class="row clearfix">
                                                        <div class="image-column col-lg-12 col-md-12 col-sm-12">
                                                            <div class="inner">
                                                                <div class="image-box">
                                                                    <figure class="image wow fadeInLeft" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                                        <%= image_tag '/img/tmp/s2-1-1.jpeg', alt: '', title: '' %>
                                                                    </figure>
                                                                    <figure class="image-two wow fadeInRight" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                                        <%= image_tag '/img/tmp/s1-1-1.jpeg', alt: '', title: '' %>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a38964a" data-id="a38964a" data-element_type="column">
                            <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>