<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/bg-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1>Nhật Ký Công Việc</h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                    </li>
                    <li class="breadcrumb-item">
                        <%= link_to 'Tin Tức', blog_list_link, title: '' %>
                    </li>
                    <li class="breadcrumb-item">Nhật Ký Công Việc</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="1822" class="elementor elementor-1822" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-b124cb2 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="b124cb2" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6445e00" data-id="6445e00" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-9e11649 elementor-widget elementor-widget-electman_gallery2" data-id="9e11649" data-element_type="widget" data-widget_type="electman_gallery2.default">
                                        <div class="elementor-widget-container">
                                            <section class="bkr003">
                                                <div class=" gallery-2">
                                                    <div class="auto-container">
                                                        <div class="row clearfix">
                                                            <% (0..11).each do |dairy| %>
                                                                <div class="gallery-block col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="800ms">
                                                                    <div class="image-box">
                                                                        <div class="image">
                                                                            <%= link_to image_tag('/img/tmp/diary.jpeg', alt: '', title: ''), '/img/tmp/diary.jpeg', title: '', class: '', data: {fancybox: 'gallery'} %>
                                                                        </div>
                                                                        <div class="caption-box">
                                                                            <div class="content">
                                                                                <h3>Sửa Điện Tại Nhà Ở Biên Hòa</h3>
                                                                                <span>Điện Nước Trần Chí</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>