<section class="page-banner">
    <div class="image-layer" style="background-image:url(/img/bg-breadcrumb.jpg);"></div>
    <div class="auto-container">
        <h1>Câu Hỏi Thường Gặp</h1>
        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li class="breadcrumb-item">
                        <%= link_to 'Trang Chủ', root_link, title: 'Điện Nước Trần Chí &#8211; Thợ sửa điện nước tại Biên Hòa'.html_safe %>
                    </li>
                    <li class="breadcrumb-item">Câu Hỏi Thường Gặp</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="399" class="elementor elementor-399" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-59e51842 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="59e51842" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-733f143a" data-id="733f143a" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2cd4fc1b elementor-widget elementor-widget-electman_faq" data-id="2cd4fc1b" data-element_type="widget" data-widget_type="electman_faq.default">
                                        <div class="elementor-widget-container">
                                            <section class=" faq-section">
                                                <div class="auto-container">
                                                    <div class="left-image2">
                                                        <div class="image">
                                                            <%= image_tag '/img/bong-den-dien.png', alt: '', title: '' %>
                                                        </div>
                                                    </div>
                                                    <div class="right-image1">
                                                        <div class="image">
                                                            <%= image_tag '/img/dong-ho-do-van-nang.png', alt: '', title: '' %>
                                                        </div>
                                                    </div>
                                                    <div class="sec-title centered wow fadeInUp" data-wow-delay="0ms"  data-wow-duration="2000ms">
                                                        <div class="upper-text">
                                                            <span class="logo_bolt2">
                                                                <%= image_tag '/img/bolt-1.gif', alt: '', title: '' %>
                                                            </span> Câu Hỏi Thường Gặp
                                                        </div>
                                                        <h2>Một Số Câu Hỏi Thường Gặp</h2>
                                                        <div class="bottom-dots clearfix">
                                                            <span class="dot line-dot"></span>
                                                            <span class="dot"></span>
                                                            <span class="dot"></span>
                                                            <span class="dot"></span>
                                                        </div>
                                                    </div>
                                                    <div class="faq-container">
                                                        <div class="accordion-box">
                                                            <div class="accordion block current active-block">
                                                                <div class="acc-btn active">
                                                                    Dịch vụ tại Điện Nước Trần Chí hỗ trợ những khu vực nào?
                                                                    <div class="icon flaticon-cross"></div>
                                                                </div>
                                                                <div class="acc-content">
                                                                    <div class="content">
                                                                        <div class="text text-justify">Hiện tại, Chúng tôi nhận sửa chữa, lắp đặt và bảo trì các khu vực trong phạm vi Thành phố Biên Hòa và Huyện Trảng Bom, Tỉnh Đồng Nai.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion block ">
                                                                <div class="acc-btn ">
                                                                    Thời gian thực hiện sửa chữa, lắp đặt và bảo trì?
                                                                    <div class="icon flaticon-cross"></div>
                                                                </div>
                                                                <div class="acc-content">
                                                                    <div class="content">
                                                                        <div class="text text-justify">Chúng tôi tiếp nhận công việc sau giờ hành chính từ Thứ 2 ~ Thứ 6 và toàn thời gian vào cuối tuần (Thứ 7, Chủ nhật).</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion block ">
                                                                <div class="acc-btn ">
                                                                    Liên hệ với Điện Nước Trần Chí như thế nào?
                                                                    <div class="icon flaticon-cross"></div>
                                                                </div>
                                                                <div class="acc-content">
                                                                    <div class="content">
                                                                        <div class="text text-justify">Bạn có thể liên hệ với Chúng tôi qua số điện thoại, email hoặc nhắn tin qua FaceBook, Zalo. Các thông tin liên hệ được hiển thị cụ thể trên website.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion block ">
                                                                <div class="acc-btn ">
                                                                    Có phải khảo sát và báo giá miễn phí?
                                                                    <div class="icon flaticon-cross"></div>
                                                                </div>
                                                                <div class="acc-content">
                                                                    <div class="content">
                                                                        <div class="text text-justify">Đúng vậy! Về cơ bản Điện Nước Trần Chí sẽ báo giá qua điện thoại hoặc facebook, zalo, email các dịch vụ. Nếu dịch vụ cần khảo sát để đánh giá độ phức tạp hoặc các yêu cầu khác về nhân sự, máy móc thì Chúng tôi sẽ đến khảo sát trực tiếp để báo giá. Toàn bộ quy trình này là miễn phí.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>