<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="http://z.commonsupport.com/electman/wp-content/uploads/2020/11/icon-1-1.png" type="image/x-icon">
        <link rel="icon" href="http://z.commonsupport.com/electman/wp-content/uploads/2020/11/icon-1-1.png" type="image/x-icon">
        <!-- responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- For IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FAQ&#8217;s &#8211; electman</title>
        <meta name='robots' content='max-image-preview:large' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <link rel="alternate" type="application/rss+xml" title="electman &raquo; Feed" href="http://z.commonsupport.com/electman/feed/" />
        <link rel="alternate" type="application/rss+xml" title="electman &raquo; Comments Feed" href="http://z.commonsupport.com/electman/comments/feed/" />
        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/z.commonsupport.com\/electman\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.3"}};
            !function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
            }
        </style>
        <link rel='stylesheet' id='wp-block-library-css'  href='http://z.commonsupport.com/electman/wp-includes/css/dist/block-library/style.min.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='wp-block-library-theme-css'  href='http://z.commonsupport.com/electman/wp-includes/css/dist/block-library/theme.min.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='wc-block-vendors-style-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=4.4.3' type='text/css' media='all' />
        <link rel='stylesheet' id='wc-block-style-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=4.4.3' type='text/css' media='all' />
        <link rel='stylesheet' id='contact-form-7-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.4' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-layout-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-smallscreen-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=5.1.1' type='text/css' media='only screen and (max-width: 768px)' />
        <link rel='stylesheet' id='woocommerce-general-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=5.1.1' type='text/css' media='all' />
        <style id='woocommerce-inline-inline-css' type='text/css'>
            .woocommerce form .form-row .required { visibility: visible; }
        </style>
        <link rel='stylesheet' id='bootstrap-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/bootstrap.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='animate-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/animate.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='custom-animate-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/custom-animate.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='flaticon-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/flaticon.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='fontawesome-all-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/fontawesome-all.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='hover-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/hover.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='jquery.fancybox.min-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/jquery.fancybox.min.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='jquery-ui-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/jquery-ui.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='line-awesome-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/line-awesome.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='owl-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/owl.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='scrollbar-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/scrollbar.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='stroke-gap-icons-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/stroke-gap-icons.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='appointment-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/appointment.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='datetimepicker-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/datetimepicker.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-section-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/section.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-style-2-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/style-2.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-style-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/style.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-error-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/theme/error.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-gutenberg-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/theme/gutenberg.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-fixing-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/theme/fixing.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-sidebar-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/theme/sidebar.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-tut-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/theme/tut.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-responsive-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/responsive.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-calculator-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/calculator.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-woocommerce-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/css/woocommerce.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-main-css'  href='http://z.commonsupport.com/electman/wp-content/themes/electman/style.css?ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='electman-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Hind%3A400%2C500%2C600%2C700%2C800%2C900%25%7CSignature%3A400%2C500%2C600%2C700%2C800&#038;subset=latin%2Clatin-ext&#038;ver=5.7.3' type='text/css' media='all' />
        <link rel='stylesheet' id='elementor-icons-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.11.0' type='text/css' media='all' />
        <link rel='stylesheet' id='elementor-animations-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.1.4' type='text/css' media='all' />
        <link rel='stylesheet' id='elementor-frontend-legacy-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.1.4' type='text/css' media='all' />
        <link rel='stylesheet' id='elementor-frontend-css'  href='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.1.4' type='text/css' media='all' />
        <link rel='stylesheet' id='elementor-post-1-css'  href='http://z.commonsupport.com/electman/wp-content/uploads/elementor/css/post-1.css?ver=1617111532' type='text/css' media='all' />
        <link rel='stylesheet' id='elementor-global-css'  href='http://z.commonsupport.com/electman/wp-content/uploads/elementor/css/global.css?ver=1617111532' type='text/css' media='all' />
        <link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.7.3' type='text/css' media='all' />
        <script type='text/javascript' id='jquery-core-js-extra'>
            /* <![CDATA[ */
            var electman_data = {"ajaxurl":"http:\/\/z.commonsupport.com\/electman\/wp-admin\/admin-ajax.php","nonce":"0093da6723"};
            /* ]]> */
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
        <link rel="https://api.w.org/" href="http://z.commonsupport.com/electman/wp-json/" />
        <link rel="alternate" type="application/json" href="http://z.commonsupport.com/electman/wp-json/wp/v2/pages/399" />
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://z.commonsupport.com/electman/xmlrpc.php?rsd" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://z.commonsupport.com/electman/wp-includes/wlwmanifest.xml" />
        <meta name="generator" content="WordPress 5.7.3" />
        <meta name="generator" content="WooCommerce 5.1.1" />
        <link rel="canonical" href="http://z.commonsupport.com/electman/faqs/" />
        <link rel='shortlink' href='http://z.commonsupport.com/electman/?p=399' />
        <link rel="alternate" type="application/json+oembed" href="http://z.commonsupport.com/electman/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fz.commonsupport.com%2Felectman%2Ffaqs%2F" />
        <link rel="alternate" type="text/xml+oembed" href="http://z.commonsupport.com/electman/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fz.commonsupport.com%2Felectman%2Ffaqs%2F&#038;format=xml" />
        <noscript>
            <style>.woocommerce-product-gallery{ opacity: 1 !important; }</style>
        </noscript>
    </head>
    <body class="">
        <div class="preloader">
            <div class="icon"></div>
        </div>
        <div class="page-wrapper">
            <!-- Main Header -->
            <header class="main-header header-style-one inner-page-header">
                <!-- Header Top -->
                <div class="header-top header-top-one">
                    <div class="auto-container">
                        <div class="inner clearfix">
                            <div class="top-left clearfix">
                                <div class="top-text">Welcome to Us ElectMan Support </div>
                            </div>
                            <div class="top-right clearfix">
                                <div class="email">
                                    <a href="">Send Us E-Mail supporthelp@electman.com</a>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href=""><span class="fab fa-behance"></span></a></li>
                                    <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href=""><span class="fab fa-twitter"></span></a></li>
                                    <li><a href=""><span class="fab fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Upper -->
                <div class="header-main-box">
                    <div class="auto-container">
                        <div class="inner-container">
                            <div class="upper-row clearfix">
                                <div class="logo-box">
                                    <div class="logo">						
                                        <a href="http://z.commonsupport.com/electman/" title="electman"><img src="http://z.commonsupport.com/electman/wp-content/themes/electman/assets/images/logo.png" alt="logo" style="" /></a>							
                                    </div>
                                </div>
                                <div class="right-info clearfix">
                                    <!--Info-->
                                    <div class="info clearfix">
                                        <!--Info Block-->
                                        <div class="info-block">
                                            <div class="icon-box">
                                                <span class="icon fa fa-phone"></span>
                                            </div>
                                            <strong>Get Help !</strong>
                                            <div class="info-text">
                                                <a href="#">11 8888 888 000</a>
                                            </div>
                                        </div>
                                        <!--Info Block-->
                                        <div class="info-block">
                                            <div class="icon-box">
                                                <span class="icon fa fa-home"></span>
                                            </div>
                                            <strong>Our Address</strong>
                                            <div class="info-text">House 35 R/A,Street</div>
                                        </div>
                                    </div>
                                    <!--Link Box-->
                                    <div class="link-box">
                                        <a href="#" class="theme-btn btn-style-one">
                                            <div class="btn-title"><span class="btn-txt">Sing Up</span><span class="btn-icon"><span class="icon flaticon-arrows-11"></span> </span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="lower-row">
                                <!--Nav Box-->
                                <div class="nav-box clearfix">
                                    <div class="nav-outer clearfix">
                                        <!--Mobile Navigation Toggler-->
                                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                                        <!-- Main Menu -->
                                        <nav class="main-menu navbar-expand-md navbar-light">
                                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                                <ul class="mrhome navigation clearfix">
                                                    <li class="mrli"><a href="http://z.commonsupport.com/electman/" class="homebttn"></a></li>
                                                    <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-22 dropdown">
                                                        <a title="Home" href="http://z.commonsupport.com/electman/" data-toggle="dropdown1" class="hvr-underline-from-left1" aria-expanded="false" data-scroll data-options="easing: easeOutQuart">Home</a>
                                                        <ul role="menu" class="submenu">
                                                            <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-17"><a title="Home Classic" href="http://z.commonsupport.com/electman/">Home Classic</a></li>
                                                            <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a title="Residential Solution" href="http://z.commonsupport.com/electman/home-page-02/">Residential Solution</a></li>
                                                            <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a title="Commercial Solution" href="http://z.commonsupport.com/electman/home-page-03/">Commercial Solution</a></li>
                                                            <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a title="Industrial Solution" href="http://z.commonsupport.com/electman/home-page-04/">Industrial Solution</a></li>
                                                            <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a title="Office &amp; Building" href="http://z.commonsupport.com/electman/home-page-05/">Office &#038; Building</a></li>
                                                            <li id="menu-item-2146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2146"><a title="Home Installation" href="http://z.commonsupport.com/electman/home-seven/">Home Installation</a></li>
                                                            <li id="menu-item-2014" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2014"><a title="Event Lighting" href="http://z.commonsupport.com/electman/home-six/">Event Lighting</a></li>
                                                            <li id="menu-item-2729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2729"><a title="One Page Home" href="http://z.commonsupport.com/electman/one-page-home/">One Page Home</a></li>
                                                            <li id="menu-item-1771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1771"><a title="RTL Home" href="http://z.commonsupport.com/electman/rtl-home/">RTL Home</a></li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-414 dropdown current">
                                                        <a title="Company" href="http://z.commonsupport.com/electman/about-us/" data-toggle="dropdown1" class="hvr-underline-from-left1" aria-expanded="false" data-scroll data-options="easing: easeOutQuart">Company</a>
                                                        <ul role="menu" class="submenu">
                                                            <li id="menu-item-413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a title="About Us" href="http://z.commonsupport.com/electman/about-us/">About Us</a></li>
                                                            <li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a title="Our Mission" href="http://z.commonsupport.com/electman/why-choose-us/">Our Mission</a></li>
                                                            <li id="menu-item-1302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1302"><a title="Why Choose Us" href="http://z.commonsupport.com/electman/why-choose-us-2/">Why Choose Us</a></li>
                                                            <li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a title="Our Pricing" href="http://z.commonsupport.com/electman/our-pricing/">Our Pricing</a></li>
                                                            <li id="menu-item-1626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1626"><a title="Pricing Details" href="http://z.commonsupport.com/electman/pricing-details/">Pricing Details</a></li>
                                                            <li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408"><a title="Our Team" href="http://z.commonsupport.com/electman/our-team/">Our Team</a></li>
                                                            <li id="menu-item-1666" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1666"><a title="Team Details" href="http://z.commonsupport.com/electman/team-details/">Team Details</a></li>
                                                            <li id="menu-item-732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-732"><a title="Projects 01" href="http://z.commonsupport.com/electman/projects-01/">Projects 01</a></li>
                                                            <li id="menu-item-1365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1365"><a title="Project Details" href="http://z.commonsupport.com/electman/project-details/">Project Details</a></li>
                                                            <li id="menu-item-1368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1368"><a title="Appointment" href="http://z.commonsupport.com/electman/appointment/">Appointment</a></li>
                                                            <li id="menu-item-411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411"><a title="Testimonials" href="http://z.commonsupport.com/electman/testimonials-4/">Testimonials</a></li>
                                                            <li id="menu-item-412" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-399 current_page_item menu-item-412 active"><a title="FAQ’s" href="http://z.commonsupport.com/electman/faqs/">FAQ’s</a></li>
                                                            <li id="menu-item-1367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1367"><a title="FAQ’s 02" href="http://z.commonsupport.com/electman/faqs-02/">FAQ’s 02</a></li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-529 dropdown">
                                                        <a title="Services" href="http://z.commonsupport.com/electman/services/" data-toggle="dropdown1" class="hvr-underline-from-left1" aria-expanded="false" data-scroll data-options="easing: easeOutQuart">Services</a>
                                                        <ul role="menu" class="submenu">
                                                            <li id="menu-item-536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-536"><a title="Our All Services" href="http://z.commonsupport.com/electman/services/">Our All Services</a></li>
                                                            <li id="menu-item-530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-530"><a title="Electrical Repairs" href="http://z.commonsupport.com/electman/electrical-repairs/">Electrical Repairs</a></li>
                                                            <li id="menu-item-531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-531"><a title="Lighting Upgrades" href="http://z.commonsupport.com/electman/lighting-upgrades/">Lighting Upgrades</a></li>
                                                            <li id="menu-item-532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-532"><a title="Surge Protection" href="http://z.commonsupport.com/electman/surge-protection/">Surge Protection</a></li>
                                                            <li id="menu-item-533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-533"><a title="Install a Ceiling Fan" href="http://z.commonsupport.com/electman/install-a-ceiling-fan/">Install a Ceiling Fan</a></li>
                                                            <li id="menu-item-534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-534"><a title="Digital Thermostat" href="http://z.commonsupport.com/electman/digital-thermostat/">Digital Thermostat</a></li>
                                                            <li id="menu-item-535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-535"><a title="Baseboard Heating" href="http://z.commonsupport.com/electman/baseboard-heating/">Baseboard Heating</a></li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-715" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-715 dropdown">
                                                        <a title="Element" href="http://z.commonsupport.com/electman/about-01/" data-toggle="dropdown1" class="hvr-underline-from-left1" aria-expanded="false" data-scroll data-options="easing: easeOutQuart">Element</a>
                                                        <ul role="menu" class="submenu">
                                                            <li id="menu-item-714" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-714 dropdown">
                                                                <a title="About" href="http://z.commonsupport.com/electman/about-01/">About</a>
                                                                <ul role="menu" class="submenu">
                                                                    <li id="menu-item-713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-713"><a title="About 01" href="http://z.commonsupport.com/electman/about-01/">About 01</a></li>
                                                                    <li id="menu-item-712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-712"><a title="About 02" href="http://z.commonsupport.com/electman/about-02/">About 02</a></li>
                                                                    <li id="menu-item-711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-711"><a title="About 03" href="http://z.commonsupport.com/electman/about-03/">About 03</a></li>
                                                                    <li id="menu-item-710" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-710"><a title="About 04" href="http://z.commonsupport.com/electman/about-04/">About 04</a></li>
                                                                    <li id="menu-item-709" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-709"><a title="About 05" href="http://z.commonsupport.com/electman/about-05/">About 05</a></li>
                                                                    <li id="menu-item-1787" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1787"><a title="About 06" href="http://z.commonsupport.com/electman/about-06/">About 06</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-753" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-753 dropdown">
                                                                <a title="Service" href="http://z.commonsupport.com/electman/service-01/">Service</a>
                                                                <ul role="menu" class="submenu">
                                                                    <li id="menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-752"><a title="Service 01" href="http://z.commonsupport.com/electman/service-01/">Service 01</a></li>
                                                                    <li id="menu-item-751" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-751"><a title="Service 02" href="http://z.commonsupport.com/electman/service-02/">Service 02</a></li>
                                                                    <li id="menu-item-750" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-750"><a title="Service 03" href="http://z.commonsupport.com/electman/service-03/">Service 03</a></li>
                                                                    <li id="menu-item-749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-749"><a title="Service 04" href="http://z.commonsupport.com/electman/service-04/">Service 04</a></li>
                                                                    <li id="menu-item-748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-748"><a title="Service 05" href="http://z.commonsupport.com/electman/service-05/">Service 05</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-767" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-767 dropdown">
                                                                <a title="Programs" href="http://z.commonsupport.com/electman/programs-01/">Programs</a>
                                                                <ul role="menu" class="submenu">
                                                                    <li id="menu-item-764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-764"><a title="Programs 01" href="http://z.commonsupport.com/electman/programs-01/">Programs 01</a></li>
                                                                    <li id="menu-item-763" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-763"><a title="Programs 02" href="http://z.commonsupport.com/electman/programs-02/">Programs 02</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-778" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-778 dropdown">
                                                                <a title="Pricing" href="http://z.commonsupport.com/electman/pricing-01/">Pricing</a>
                                                                <ul role="menu" class="submenu">
                                                                    <li id="menu-item-777" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-777"><a title="Pricing 01" href="http://z.commonsupport.com/electman/pricing-01/">Pricing 01</a></li>
                                                                    <li id="menu-item-776" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-776"><a title="Pricing 02" href="http://z.commonsupport.com/electman/pricing-02/">Pricing 02</a></li>
                                                                    <li id="menu-item-1882" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1882"><a title="Pricing 03" href="http://z.commonsupport.com/electman/pricing-03/">Pricing 03</a></li>
                                                                    <li id="menu-item-1904" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1904"><a title="Pricing 04" href="http://z.commonsupport.com/electman/pricing-04/">Pricing 04</a></li>
                                                                    <li id="menu-item-2261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2261"><a title="Pricing 05" href="http://z.commonsupport.com/electman/pricing-05/">Pricing 05</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-1820" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1820 dropdown">
                                                                <a title="Gallery" href="http://z.commonsupport.com/electman/gallery-01/">Gallery</a>
                                                                <ul role="menu" class="submenu">
                                                                    <li id="menu-item-1821" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1821"><a title="Gallery 01" href="http://z.commonsupport.com/electman/gallery-01/">Gallery 01</a></li>
                                                                    <li id="menu-item-1845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1845"><a title="Gallery 02" href="http://z.commonsupport.com/electman/gallery-02/">Gallery 02</a></li>
                                                                    <li id="menu-item-1859" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1859"><a title="Gallery 03" href="http://z.commonsupport.com/electman/gallery-03/">Gallery 03</a></li>
                                                                    <li id="menu-item-1870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1870"><a title="Gallery 04" href="http://z.commonsupport.com/electman/gallery-04/">Gallery 04</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-794" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-794 dropdown">
                                                                <a title="Testimonials" href="http://z.commonsupport.com/electman/testimonials-01/">Testimonials</a>
                                                                <ul role="menu" class="submenu">
                                                                    <li id="menu-item-793" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-793"><a title="Testimonials 01" href="http://z.commonsupport.com/electman/testimonials-01/">Testimonials 01</a></li>
                                                                    <li id="menu-item-792" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-792"><a title="Testimonials 02" href="http://z.commonsupport.com/electman/testimonials-02/">Testimonials 02</a></li>
                                                                    <li id="menu-item-791" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-791"><a title="Testimonials 03" href="http://z.commonsupport.com/electman/testimonials-03/">Testimonials 03</a></li>
                                                                    <li id="menu-item-790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-790"><a title="Testimonials 04" href="http://z.commonsupport.com/electman/testimonials-04/">Testimonials 04</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="menu-item-807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-807 dropdown">
                                                                <a title="Team" href="http://z.commonsupport.com/electman/team-01/">Team</a>
                                                                <ul role="menu" class="submenu">
                                                                    <li id="menu-item-805" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-805"><a title="Team 01" href="http://z.commonsupport.com/electman/team-01/">Team 01</a></li>
                                                                    <li id="menu-item-804" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-804"><a title="Team 02" href="http://z.commonsupport.com/electman/team-02/">Team 02</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-2683" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2683 dropdown">
                                                        <a title="Shop" href="http://z.commonsupport.com/electman/shop/" data-toggle="dropdown1" class="hvr-underline-from-left1" aria-expanded="false" data-scroll data-options="easing: easeOutQuart">Shop</a>
                                                        <ul role="menu" class="submenu">
                                                            <li id="menu-item-2738" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2738"><a title="Shop" href="http://z.commonsupport.com/electman/shop/">Shop</a></li>
                                                            <li id="menu-item-2737" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2737"><a title="Cart" href="http://z.commonsupport.com/electman/cart/">Cart</a></li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-578 dropdown">
                                                        <a title="Blog" href="http://z.commonsupport.com/electman/blog-standard/" data-toggle="dropdown1" class="hvr-underline-from-left1" aria-expanded="false" data-scroll data-options="easing: easeOutQuart">Blog</a>
                                                        <ul role="menu" class="submenu">
                                                            <li id="menu-item-579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-579"><a title="Blog Standard" href="http://z.commonsupport.com/electman/blog-standard/">Blog Standard</a></li>
                                                            <li id="menu-item-589" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-589"><a title="Post Single" href="http://z.commonsupport.com/electman/commercial-renovation-no-problem-with-certified-3/">Post Single</a></li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a title="Contact" href="http://z.commonsupport.com/electman/contact/" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart">Contact</a></li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                    <!--Search Btn-->
                                    <div class="search-btn">
                                        <button type="button" class="theme-btn search-toggler"><span class="fa fa-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Header Upper-->
                <!-- Sticky Header  -->
                <div class="sticky-header">
                    <div class="auto-container clearfix">
                        <div class="logo-sticky">
                            <a href="http://z.commonsupport.com/electman/" title="electman"><img src="http://z.commonsupport.com/electman/wp-content/themes/electman/assets/images/logo.png" alt="logo" style="" /></a>							
                        </div>
                        <!--Right Col-->
                        <div class="pull-right">
                            <!-- Main Menu -->
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                            <!-- Main Menu End-->
                        </div>
                    </div>
                </div>
                <!-- End Sticky Menu -->
                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <div class="menu-backdrop"></div>
                    <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
                    <nav class="menu-box">
                        <div class="nav-logo"><a href="http://z.commonsupport.com/electman/" title="electman"><img src="http://z.commonsupport.com/electman/wp-content/themes/electman/assets/images/logo.png" alt="logo" style="" /></a></div>
                        <div class="menu-outer">
                            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                        </div>
                        <!--Social Links-->
                        <ul class="social-links clearfix">
                            <li><a href=""><span class="fab fa-behance"></span></a></li>
                            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href=""><span class="fab fa-twitter"></span></a></li>
                            <li><a href=""><span class="fab fa-youtube"></span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End Mobile Menu -->
            </header>
            <!-- End Main Header -->    	
            <!-- Main Header -->
            
            <div class="clearfix"></div>
            <div data-elementor-type="section" data-elementor-id="1056" class="elementor elementor-1056" data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-fcf3f99 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fcf3f99" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-background-overlay"></div>
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4bd181d" data-id="4bd181d" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-04585f6 elementor-widget elementor-widget-electman_footer_widget1" data-id="04585f6" data-element_type="widget" data-widget_type="electman_footer_widget1.default">
                                                    <div class="elementor-widget-container">
                                                        <footer class="one main-footer footer-style-five">
                                                            <div class="widgets-section">
                                                                <div class="auto-container">
                                                                    <div class="row clearfix">
                                                                        <!--Column-->
                                                                        <div class="footer-column col-lg-12">
                                                                            <div class="footer-widget about-widget">
                                                                                <div class="footer-logo-box">
                                                                                    <a href="index.html" title="electman - Electrician HTML Template"><img src="http://z.commonsupport.com/electman/wp-content/uploads/2020/10/logo2-1.png" alt="" title=""></a>
                                                                                </div>
                                                                                <div class="about-text">Integer lobortis sem consequat imperdiet In nulla viverra ut lorem ut, dapibus conse etur diam. Nun bibendum diet condiment sed ipsum duis lacinia.</div>
                                                                                <div class="footer-social">
                                                                                    <ul class="footer-social-two clearfix">
                                                                                        <li><a href="#"><span class="fab fab fa-twitter"></span></a></li>
                                                                                        <li><a href="#"><span class="fab fab fa-facebook-f"></span></a></li>
                                                                                        <li><a href="#"><span class="fab fab fa-instagram"></span></a></li>
                                                                                        <li><a href="#"><span class="fab fab fa-linkedin-in"></span></a></li>
                                                                                        <li><a href="#"><span class="fab fab fa-pinterest-p"></span></a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-3893e2e" data-id="3893e2e" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-1fe4804 elementor-widget elementor-widget-electman_footer_widget2" data-id="1fe4804" data-element_type="widget" data-widget_type="electman_footer_widget2.default">
                                                    <div class="elementor-widget-container">
                                                        <footer class="one main-footer footer-style-five">
                                                            <div class="widgets-section">
                                                                <div class="auto-container">
                                                                    <div class="row clearfix">
                                                                        <div class="big-column col-lg-12">
                                                                            <div class="row clearfix">
                                                                                <!--Column-->
                                                                                <div class="footer-column col-lg-12">
                                                                                    <div class="footer-widget links-widget">
                                                                                        <div class="widget-title">
                                                                                            <h3>Quick Links</h3>
                                                                                        </div>
                                                                                        <div class="widget-content">
                                                                                            <ul>
                                                                                                <li><a href="http://z.commonsupport.com/electman/about-us/">About electman</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/blog-standard/">News Blog</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/baseboard-heating/">Careers</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/baseboard-heating/">Case Studies</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/our-team/">Meet Our Team</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/about-us/">Testimonials</a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-31b91c2" data-id="31b91c2" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-2b71740 elementor-widget elementor-widget-electman_footer_widget2" data-id="2b71740" data-element_type="widget" data-widget_type="electman_footer_widget2.default">
                                                    <div class="elementor-widget-container">
                                                        <footer class="one main-footer footer-style-five">
                                                            <div class="widgets-section">
                                                                <div class="auto-container">
                                                                    <div class="row clearfix">
                                                                        <div class="big-column col-lg-12">
                                                                            <div class="row clearfix">
                                                                                <!--Column-->
                                                                                <div class="footer-column col-lg-12">
                                                                                    <div class="footer-widget links-widget">
                                                                                        <div class="widget-title">
                                                                                            <h3>Our Services</h3>
                                                                                        </div>
                                                                                        <div class="widget-content">
                                                                                            <ul>
                                                                                                <li><a href="http://z.commonsupport.com/electman/baseboard-heating/">Installation &amp; Monitoring</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/baseboard-heating/">After Sales Service</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/baseboard-heating/">Free Replacemrnt</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/baseboard-heating/">Warrenty Claims</a></li>
                                                                                                <li><a href="http://z.commonsupport.com/electman/baseboard-heating/">Energy Equipments</a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-e6c04bf" data-id="e6c04bf" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6838454 elementor-widget elementor-widget-electman_footer_widget3" data-id="6838454" data-element_type="widget" data-widget_type="electman_footer_widget3.default">
                                                    <div class="elementor-widget-container">
                                                        <footer class="one main-footer footer-style-five">
                                                            <div class="widgets-section">
                                                                <div class="auto-container">
                                                                    <div class="row clearfix">
                                                                        <div class="footer-column col-lg-12">
                                                                            <div class="footer-widget gallery-widget">
                                                                                <div class="widget-title">
                                                                                    <h3>Contact Us</h3>
                                                                                </div>
                                                                                <div class="info">
                                                                                    <div class="info-block">
                                                                                        <div class="icon-box">
                                                                                            <span class="icon">
                                                                                            <img src="http://z.commonsupport.com/electman/wp-content/uploads/2020/10/icon-message-1-1.png" alt="">
                                                                                            </span>
                                                                                        </div>
                                                                                        <strong>Visit The Office</strong>
                                                                                        <div class="info-text">102 Taily End Rd, NY</div>
                                                                                    </div>
                                                                                    <div class="info-block">
                                                                                        <div class="icon-box">
                                                                                            <span class="icon">
                                                                                            <img src="http://z.commonsupport.com/electman/wp-content/uploads/2020/10/icon-mail-1-1.png" alt="">
                                                                                            </span>
                                                                                        </div>
                                                                                        <strong>Send Email</strong>
                                                                                        <div class="info-text">info@domain.com</div>
                                                                                    </div>
                                                                                    <div class="info-block">
                                                                                        <div class="icon-box">
                                                                                            <span class="icon">
                                                                                            <img src="http://z.commonsupport.com/electman/wp-content/uploads/2020/10/icon-call-1-1.png" alt="">
                                                                                            </span>
                                                                                        </div>
                                                                                        <strong>Phone Inquiry</strong>
                                                                                        <div class="info-text">(222) 303 4500</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-ca08c68 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="ca08c68" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0de6b64" data-id="0de6b64" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-cf39e81 elementor-widget elementor-widget-electman_footer_widget4" data-id="cf39e81" data-element_type="widget" data-widget_type="electman_footer_widget4.default">
                                                    <div class="elementor-widget-container">
                                                        <footer class="five main-footer footer-style-five">
                                                            <div class="widgets-section">
                                                                <div class="auto-container">
                                                                    <div class="nav-box clearfix">
                                                                        <div class="inner clearfix">
                                                                            <ul class="footer-nav clearfix">
                                                                                <li><a href="http://z.commonsupport.com/electman/home-seven/">Home</a></li>
                                                                                <li><a href="http://z.commonsupport.com/electman/about-us/">About</a></li>
                                                                                <li><a href="http://z.commonsupport.com/electman/our-team/">Team</a></li>
                                                                                <li><a href="http://z.commonsupport.com/electman/services/">Service</a></li>
                                                                                <li><a href="http://z.commonsupport.com/electman/blog-standard/">Blog</a></li>
                                                                                <li><a href="http://z.commonsupport.com/electman/contact/">Contact</a></li>
                                                                            </ul>
                                                                            <div class="footer_bttn">
                                                                                <a href="http://z.commonsupport.com/electman/contact/" class="theme-btn btn-style-seven">
                                                                                    <div class="btn-title"><span class="btn-txt">Contact Us</span><span class="btn-icon"><span class="icon flaticon-arrows-11"></span> </span></div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-aa57cd9 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="aa57cd9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                            <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f30353e" data-id="f30353e" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-bd7cedc elementor-widget elementor-widget-electman_footer_widget5" data-id="bd7cedc" data-element_type="widget" data-widget_type="electman_footer_widget5.default">
                                                    <div class="elementor-widget-container">
                                                        <footer class=" main-footer footer-style-five">
                                                            <div class="footer-bottom">
                                                                <div class="auto-container">
                                                                    <div class="inner clearfix">
                                                                        <!--Scroll to top-->
                                                                        <div class="scroll-top-footer scroll-to-target" data-target="html"><span class="flaticon-arrows"></span></div>
                                                                        <!--Copyright-->
                                                                        <div class="copyright">Copyright (c) 2021. All rights reserved.</div>
                                                                        <div class="footer-nav">
                                                                            <ul class="clearfix">
                                                                                <li><a href="http://z.commonsupport.com/electman/contact/">Privacy Policy</a></li>
                                                                                <li><a href="http://z.commonsupport.com/electman/contact/">Sitemap</a></li>
                                                                                <li><a href="http://z.commonsupport.com/electman/contact/">Terms &amp; Conditions</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top scroll-to-target" data-target="html" ><span class="flaticon-up-arrow"></span></div>
        <!--Search Popup-->
        <div id="search-popup" class="search-popup">
            <div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
            <div class="popup-inner">
                <div class="overlay-layer"></div>
                <div class="search-form">
                    <form action="http://z.commonsupport.com/electman/" method="get" >
                        <div class="form-group">
                            <fieldset>
                                <input type="search"  name="s" value="" class="form-control"  placeholder="Search Here..." />
                                <input type="submit" value="Search Now!" class="theme-btn">
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Page Wrapper-->
        <script type="text/javascript">
            (function () {
            	var c = document.body.className;
            	c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            	document.body.className = c;
            })();
        </script>
        <link rel='stylesheet' id='elementor-post-1056-css'  href='http://z.commonsupport.com/electman/wp-content/uploads/elementor/css/post-1056.css?ver=1617183327' type='text/css' media='all' />
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4' id='wp-polyfill-js'></script>
        <script type='text/javascript' id='wp-polyfill-js-after'>
            ( 'fetch' in window ) || document.write( '<script src="http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0"></scr' + 'ipt>' );( window.DOMRect ) || document.write( '<script src="http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0"></scr' + 'ipt>' );( window.URL && window.URL.prototype && window.URLSearchParams ) || document.write( '<script src="http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4"></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>' );( 'objectFit' in document.documentElement.style ) || document.write( '<script src="http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js?ver=2.3.4"></scr' + 'ipt>' );
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/dist/hooks.min.js?ver=d0188aa6c336f8bb426fe5318b7f5b72' id='wp-hooks-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/dist/i18n.min.js?ver=6ae7d829c963a7d8856558f3f9b32b43' id='wp-i18n-js'></script>
        <script type='text/javascript' id='wp-i18n-js-after'>
            wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/dist/vendor/lodash.min.js?ver=4.17.21' id='lodash-js'></script>
        <script type='text/javascript' id='lodash-js-after'>
            window.lodash = _.noConflict();
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/dist/url.min.js?ver=b2a17503b1ff42b789ce34b159a311cf' id='wp-url-js'></script>
        <script type='text/javascript' id='wp-api-fetch-js-translations'>
            ( function( domain, translations ) {
            	var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
            	localeData[""].domain = domain;
            	wp.i18n.setLocaleData( localeData, domain );
            } )( "default", { "locale_data": { "messages": { "": {} } } } );
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/dist/api-fetch.min.js?ver=25cbf3644d200bdc5cab50e7966b5b03' id='wp-api-fetch-js'></script>
        <script type='text/javascript' id='wp-api-fetch-js-after'>
            wp.apiFetch.use( wp.apiFetch.createRootURLMiddleware( "http://z.commonsupport.com/electman/wp-json/" ) );
            wp.apiFetch.nonceMiddleware = wp.apiFetch.createNonceMiddleware( "03daff2ca3" );
            wp.apiFetch.use( wp.apiFetch.nonceMiddleware );
            wp.apiFetch.use( wp.apiFetch.mediaUploadMiddleware );
            wp.apiFetch.nonceEndpoint = "http://z.commonsupport.com/electman/wp-admin/admin-ajax.php?action=rest-nonce";
        </script>
        <script type='text/javascript' id='contact-form-7-js-extra'>
            /* <![CDATA[ */
            var wpcf7 = [];
            /* ]]> */
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4' id='contact-form-7-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js'></script>
        <script type='text/javascript' id='wc-add-to-cart-js-extra'>
            /* <![CDATA[ */
            var wc_add_to_cart_params = {"ajax_url":"\/electman\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/electman\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/z.commonsupport.com\/electman\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
            /* ]]> */
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=5.1.1' id='wc-add-to-cart-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4' id='js-cookie-js'></script>
        <script type='text/javascript' id='woocommerce-js-extra'>
            /* <![CDATA[ */
            var woocommerce_params = {"ajax_url":"\/electman\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/electman\/?wc-ajax=%%endpoint%%"};
            /* ]]> */
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=5.1.1' id='woocommerce-js'></script>
        <script type='text/javascript' id='wc-cart-fragments-js-extra'>
            /* <![CDATA[ */
            var wc_cart_fragments_params = {"ajax_url":"\/electman\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/electman\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_987ae68943f678536195a0f4e882dc0e","fragment_name":"wc_fragments_987ae68943f678536195a0f4e882dc0e","request_timeout":"5000"};
            /* ]]> */
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=5.1.1' id='wc-cart-fragments-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1' id='jquery-ui-core-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/bootstrap.min.js?ver=2.1.2' id='bootstrap-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/popper.min.js?ver=2.1.2' id='popper-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/appear.js?ver=2.1.2' id='appear-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/knob.js?ver=2.1.2' id='knob-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/paroller.js?ver=2.1.2' id='paroller-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/countdown.js?ver=2.1.2' id='countdown-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/isotope.js?ver=2.1.2' id='isotope-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/jquery.bootstrap-touchspin.js?ver=2.1.2' id='jquery-bootstrap-touchspin-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/jquery.fancybox.js?ver=2.1.2' id='jquery-fancybox-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/jquery-ui.js?ver=2.1.2' id='jquery-ui-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/mixitup.js?ver=2.1.2' id='mixitup-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/owl.js?ver=2.1.2' id='owl-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/scrollbar.js?ver=2.1.2' id='scrollbar-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/html5lightbox/html5lightbox.js?ver=2.1.2' id='html5lightbox-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/tilt.jquery.min.js?ver=2.1.2' id='tilt-jquery-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/wow.js?ver=2.1.2' id='wow-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/themes/electman/assets/js/script.js?ver=2.1.2' id='electman-main-script-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-includes/js/wp-embed.min.js?ver=5.7.3' id='wp-embed-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.1.4' id='elementor-webpack-runtime-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.1.4' id='elementor-frontend-modules-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.1.4' id='share-link-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
        <script type='text/javascript' id='elementor-frontend-js-before'>
            var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false,"isImprovedAssetsLoading":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.1.4","is_static":false,"experimentalFeatures":[],"urls":{"assets":"http:\/\/z.commonsupport.com\/electman\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":399,"title":"FAQ%27s%20%E2%80%93%20electman","excerpt":"","featuredImage":false}};
        </script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.1.4' id='elementor-frontend-js'></script>
        <script type='text/javascript' src='http://z.commonsupport.com/electman/wp-content/plugins/elementor/assets/js/preloaded-elements-handlers.min.js?ver=3.1.4' id='preloaded-elements-handlers-js'></script>
    </body>
</html>